body {
    background-color: $yellow-color;
    overflow: hidden;
    transition: background-color 0.7s ease-out;

    &,
    * {
        // pointer-events: none;
    }

    &.is-night {
        background-color: $night-color;
    }

    &.is-loaded {
        &,
        * {
            // pointer-events: auto;
        }
    }
}
