@keyframes shakePrev {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(2deg) translate3d(0, 0.15vw, 0);
    }
}

@keyframes shakeNext {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-2deg) translate3d(0, -0.15vw, 0);
    }
}

// @include keyframes(wipeRight) {
//     0% {
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//     }
//
//     30% {
//         clip-path: polygon(20% 0, 100% 0, 100% 100%, 10% 100%);
//     }
//
//     80% {
//         clip-path: polygon(100% 0, 100% 0, 100% 100%, 80% 100%);
//     }
//
//     100% {
//         clip-path: polygon(100% 100%, 100% 0, 100% 100%, 100% 100%);
//     }
// }

@include keyframes(wipeLeft) {
    0% {
        clip-path: polygon(45% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }

    33% {
        clip-path: polygon(45% 100%, 100% 100%, 100% 0, 100% 0, 100% 0);
    }

    66% {
        clip-path: polygon(55% 100%, 100% 100%, 100% 0, 0 0, 0 0);
    }

    100% {
        clip-path: polygon(55% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
    }
}

@include keyframes(wipeRight) {
    100% {
        clip-path: polygon(45% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }

    66% {
        clip-path: polygon(45% 100%, 100% 100%, 100% 0, 100% 0, 100% 0);
    }

    33% {
        clip-path: polygon(55% 100%, 100% 100%, 100% 0, 0 0, 0 0);
    }

    0% {
        clip-path: polygon(55% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
    }
}
