* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    outline: 0;
    background: none;
}

img,
iframe {
    max-width: 100%;
}

img {
    display: block;
    border: none;
    outline: 0;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

em,
strong {
    font-style: inherit;
    font-weight: inherit;
}

hr {
    border: none;
    outline: 0;
}

ul,
li {
    list-style: none;
}

input,
textarea {
    border: none;
    border-radius: 0;
    outline: 0;
    background: none;
    overflow: auto;
    appearance: none;
    resize: none;
}

address {
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}
