@font-face {
    font-family: 'CooperHewitt-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'), url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'CooperHewitt-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'), url('../fonts/cooperhewitt-medium-webfont.woff') format('woff');
}

body {
    font-family: $font-medium;
    font-size: 10px;
}

.h1 {
    position: relative;
    font-family: $font-bold;
    font-size: 2em;

    &__no {
        position: absolute;
        left: -1em;
        color: $pink-color;
    }
}

.h2 {
    font-family: $font-bold;
    font-size: 2em;
}

.p {
    font-size: 1.1em;

    strong {
        font-family: $font-bold;
    }
}

@media #{$rwd-big-phone-up} {
    .h1 {
        font-size: 2.4em;
    }

    .p {
        font-size: 1.3em;
    }
}

@media #{$rwd-xlg-up} {
    .h1 {
        // font-size: 2.614583333vw;
        font-size: 37px;
    }

    // .p {
    //     font-size: 0.9027777778vw;
    // }
}

::selection {
    background: rgba($blue-color, 0.5);
}

::-moz-selection {
    background: rgba($blue-color, 0.5);
}
