//* === COLORS === *//

$white-color: #ffffff;
$yellow-color: #fceb53;
$night-color: #060211;
$pink-color: #e83670;
$blue-color: #009fe3;
$black-color: #1f1f1f;

//* === end COLORS === *//

//

//* === DIMENSIONS === *//

//* === end DIMENSIONS === *//

//

//* === OTHER === *//

$loader-fadein-time: 0.7s;
$loader-easing: ease-out;

//* === end OTHER === *//

//

//* === FONTS === *//

$font-medium: CooperHewitt-Medium, 'sans-serif';
$font-bold: CooperHewitt-Bold, 'sans-serif';

//* === end FONTS === *//

//

//* === BREAKPOINTS === *//


$rwd-big-up: 'all and (min-width: 900px)';

$rwd-xbig-up: 'all and (min-width: 1500px)';

$rwd-xxbig-up: 'all and (min-width: 1600px)';

$rwd-mid-and-low: 'all and (min-width: 900px) and (max-height: 500px)';

$rwd-big-and-low: 'all and (min-width: 1080px) and (max-height: 600px)';

$rwd-xbig-and-low: 'all and (min-width: 1300px) and (max-height: 700px)';

$rwd-xxbig-and-low: 'all and (min-width: 1400px) and (max-height: 777px)';



// Extra small screen / phone
$screen-xxs-min:              375px !default;
// Extra small screen / phone
$screen-xs-min:              480px !default;
// Small screen / tablet
$screen-sm-min:              768px !default;
// Medium screen / desktop
$screen-md-min:              992px !default;
// Large screen / wide desktop
$screen-lg-min:              1200px !default;
// Extra large screen / extra wide desktop
$screen-xlg-min:              1440px !default;
// Extra Xlarge screen / Xextra wide desktop
$screen-xxlg-min:              1600px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$rwd-mobile: 'all and (max-width: #{$screen-xs-max})';
$rwd-tablet: 'all and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})';
$rwd-mobile-and-tablet: 'all and (max-width: #{$screen-md-max})';
$rwd-desktop: 'all and (min-width: #{$screen-lg-min})';
$rwd-min-desktop: 'all and (min-width: 1025px)';

$rwd-xxs: 'all and (max-width: #{$screen-xs-min - 1})';
$rwd-xs: 'all and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})';
$rwd-sm: 'all and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})';
$rwd-md: 'all and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})';
$rwd-lg: 'all and (min-width: #{$screen-lg-min})';

$rwd-big-phone-up: 'all and (min-width: #{$screen-xxs-min})';
$rwd-xs-up: 'all and (min-width: #{$screen-xs-min})';
$rwd-sm-up: 'all and (min-width: #{$screen-sm-min})';
$rwd-md-up: 'all and (min-width: #{$screen-md-min})';
$rwd-lg-up: 'all and (min-width: #{$screen-lg-min})';
$rwd-xlg-up: 'all and (min-width: #{$screen-xlg-min})';
$rwd-xxlg-up: 'all and (min-width: #{$screen-xxlg-min})';

$rwd-xs-down: 'all and (max-width: #{$screen-xs-max})';
$rwd-sm-down: 'all and (max-width: #{$screen-sm-max})';
$rwd-md-down: 'all and (max-width: #{$screen-md-max})';

$for-ie: 'all and (-ms-high-contrast:none)';
$for-firefox: 'screen and (-moz-images-in-menus:0)';

//* === end BREAKPOINTS === *//
