	<footer class="footer hide-on-splash-mobile js-hide-on-splash-mobile">
		<div class="footer__hashtag js-fade-social">
			<span>#<span>i</span>drin<span>Q</span>genius</span>
		</div>
		<nav class="footer__social js-fade-social">
			<a class="icon-instagram" href="https://www.instagram.com/idrinq_france/" target="_blank">
				@@include('icons/instagram.html')
			</a><a class="icon-fb" href="https://www.facebook.com/idrinqfr/" target="_blank">
				@@include('icons/fb.html')
			</a>
		</nav>
		<nav class="footer__contact footer__contact--mobile">
			<a class="icon-instagram" href="https://www.instagram.com/idrinq_france/" target="_blank">
				@@include('icons/instagram.html')
			</a><a class="icon-fb" href="https://www.facebook.com/idrinqfr/" target="_blank">
				@@include('icons/fb.html')
			</a><a class="icon-mail" href="mailto:fr@idrinq.fr">
				@@include('icons/mail.html')
			</a>
		</nav>
		<nav class="footer__contact footer__contact--desktop js-fade-contact">
			<a class="icon-mail js-sticky" href="mailto:fr@idrinq.fr">
				@@include('icons/mail.html')
			</a>
			<p class="p">Des idées brillantes à partager ?</p>
		</nav>
		<div class="footer__note js-fade-note">
			<p class="p">Et là vous dîtes " Mais c'est génial ! "<br>Et là on vous répond " C'est ce qu'on vous dit depuis le début ! "</p>
		</div>
	</footer>

	<!-- SCRIPTS BEGIN -->
	<script src="js/swiper.min.js"></script>
	<script src="js/wheel-indicator.js"></script>
	<script src="js/kute.js"></script>
	<script src="js/kute-css.js"></script>
	<script src="js/kute-svg.js"></script>
	<!-- <script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script> -->
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.3/velocity.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js"></script>
	<script src="js/main.min.js"></script>
	<!-- SCRIPTS END -->

</body>
</html>
