<svg class="splash__bg__left__wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 574.33 53.01">
    <path id="night-wave-left-path-1" d="M528.5,2.61C495.3,2.43,464.45-.27,431.26,0c-30,.27-58.62,5-88.65,4.69C316.76,4.49,292.34.62,266.51.24,234.61-.22,204,4.66,172,4.65c-32.14,0-69.49-3.15-101.51-4-26-.73-39,1-70.5,1.16V45.61H573.5V3.18C556.5,2.61,543.41,2.69,528.5,2.61Z"/>
    <path style="visibility: hidden" id="night-wave-left-path-2" d="M495.45,1.09c-15.71.42-37.39,5.24-53.18,5.84-23.06.87-47.21.65-70-1.78C338.1,1.49,304.75-.15,270.25,2c-19.75,1.25-46.92,3.54-66.72,4.48-38.12,1.81-68.86-7.79-107-6.38-23,.85-37.26,5-60,7-8.93.77-27.22,0-36,0L0,47.09H573.5V3.2C523.45,4.09,526.71.26,495.45,1.09Z"/>
</svg>
