.can {
    display: inline-block;
    position: absolute;
    top: 6%;
    left: calc(50% - 14vh);
    width: 28vh;
    height: 60.48vh; // *2.16
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        content: '';
        z-index: 1;
    }

    &--day {
        background-image: url('../images/CAN_DAY_SPRITE_71_C_tiny.png');

        &:after {
            background-image: url('../images/DAY_SHADOW.png');
        }
    }

    &--night {
        background-image: url('../images/CAN_NIGHT_SPRITE_71_C_tiny.png');

        &:after {
            background-image: url('../images/NIGHT_SHADOW.png');
        }
    }

    @media #{$rwd-sm-up} {
        top: 10%;
        left: calc(50% - 16vh);
        width: 32vh;
        height: 69.12vh;
    }

    @media #{$rwd-md-up} {
        top: 12%;
        left: calc(50% - 17.5vh);
        width: 35vh;
        height: 75.6vh;
    }
}

.can[data-position="71"] { background-position: 0 0%; }
.can[data-position="70"] { background-position: 0 1.428571%; }
.can[data-position="69"] { background-position: 0 2.857143%; }
.can[data-position="68"] { background-position: 0 4.285714%; }
.can[data-position="67"] { background-position: 0 5.714286%; }
.can[data-position="66"] { background-position: 0 7.142857%; }
.can[data-position="65"] { background-position: 0 8.571429%; }
.can[data-position="64"] { background-position: 0 10%; }
.can[data-position="63"] { background-position: 0 11.428571%; }
.can[data-position="62"] { background-position: 0 12.857143%; }
.can[data-position="61"] { background-position: 0 14.285714%; }
.can[data-position="60"] { background-position: 0 15.714286%; }
.can[data-position="59"] { background-position: 0 17.142857%; }
.can[data-position="58"] { background-position: 0 18.571429%; }
.can[data-position="57"] { background-position: 0 20%; }
.can[data-position="56"] { background-position: 0 21.428571%; }
.can[data-position="55"] { background-position: 0 22.857143%; }
.can[data-position="54"] { background-position: 0 24.285714%; }
.can[data-position="53"] { background-position: 0 25.714286%; }
.can[data-position="52"] { background-position: 0 27.142857%; }
.can[data-position="51"] { background-position: 0 28.571429%; }
.can[data-position="50"] { background-position: 0 30%; }
.can[data-position="49"] { background-position: 0 31.428571%; }
.can[data-position="48"] { background-position: 0 32.857143%; }
.can[data-position="47"] { background-position: 0 34.285714%; }
.can[data-position="46"] { background-position: 0 35.714286%; }
.can[data-position="45"] { background-position: 0 37.142857%; }
.can[data-position="44"] { background-position: 0 38.571429%; }
.can[data-position="43"] { background-position: 0 40%; }
.can[data-position="42"] { background-position: 0 41.428571%; }
.can[data-position="41"] { background-position: 0 42.857143%; }
.can[data-position="40"] { background-position: 0 44.285714%; }
.can[data-position="39"] { background-position: 0 45.714286%; }
.can[data-position="38"] { background-position: 0 47.142857%; }
.can[data-position="37"] { background-position: 0 48.571429%; }
.can[data-position="36"] { background-position: 0 50%; }
.can[data-position="35"] { background-position: 0 51.428571%; }
.can[data-position="34"] { background-position: 0 52.857143%; }
.can[data-position="33"] { background-position: 0 54.285714%; }
.can[data-position="32"] { background-position: 0 55.714286%; }
.can[data-position="31"] { background-position: 0 57.142857%; }
.can[data-position="30"] { background-position: 0 58.571429%; }
.can[data-position="29"] { background-position: 0 60%; }
.can[data-position="28"] { background-position: 0 61.428571%; }
.can[data-position="27"] { background-position: 0 62.857143%; }
.can[data-position="26"] { background-position: 0 64.285714%; }
.can[data-position="25"] { background-position: 0 65.714286%; }
.can[data-position="24"] { background-position: 0 67.142857%; }
.can[data-position="23"] { background-position: 0 68.571429%; }
.can[data-position="22"] { background-position: 0 70%; }
.can[data-position="21"] { background-position: 0 71.428571%; }
.can[data-position="20"] { background-position: 0 72.857143%; }
.can[data-position="19"] { background-position: 0 74.285714%; }
.can[data-position="18"] { background-position: 0 75.714286%; }
.can[data-position="17"] { background-position: 0 77.142857%; }
.can[data-position="16"] { background-position: 0 78.571429%; }
.can[data-position="15"] { background-position: 0 80%; }
.can[data-position="14"] { background-position: 0 81.428571%; }
.can[data-position="13"] { background-position: 0 82.857143%; }
.can[data-position="12"] { background-position: 0 84.285714%; }
.can[data-position="11"] { background-position: 0 85.714286%; }
.can[data-position="10"] { background-position: 0 87.142857%; }
.can[data-position="9"] { background-position: 0 88.571429%; }
.can[data-position="8"] { background-position: 0 90%; }
.can[data-position="7"] { background-position: 0 91.428571%; }
.can[data-position="6"] { background-position: 0 92.857143%; }
.can[data-position="5"] { background-position: 0 94.285714%; }
.can[data-position="4"] { background-position: 0 95.714286%; }
.can[data-position="3"] { background-position: 0 97.142857%; }
.can[data-position="2"] { background-position: 0 98.571429%; }
.can[data-position="1"], .can[data-position="0"]  { background-position: 0 100%; }

//
// @media #{$rwd-sm-down} {
//     .can[data-position="1"], .can[data-position="0"] { background-position: 0 0%; }
//     .can[data-position="02"] { background-position: 0 1.428571%; }
//     .can[data-position="03"] { background-position: 0 2.857143%; }
//     .can[data-position="04"] { background-position: 0 4.285714%; }
//     .can[data-position="05"] { background-position: 0 5.714286%; }
//     .can[data-position="06"] { background-position: 0 7.142857%; }
//     .can[data-position="07"] { background-position: 0 8.571429%; }
//     .can[data-position="08"] { background-position: 0 10%; }
//     .can[data-position="09"] { background-position: 0 11.428571%; }
//     .can[data-position="10"] { background-position: 0 12.857143%; }
//     .can[data-position="11"] { background-position: 0 14.285714%; }
//     .can[data-position="12"] { background-position: 0 15.714286%; }
//     .can[data-position="13"] { background-position: 0 17.142857%; }
//     .can[data-position="14"] { background-position: 0 18.571429%; }
//     .can[data-position="15"] { background-position: 0 20%; }
//     .can[data-position="16"] { background-position: 0 21.428571%; }
//     .can[data-position="17"] { background-position: 0 22.857143%; }
//     .can[data-position="18"] { background-position: 0 24.285714%; }
//     .can[data-position="19"] { background-position: 0 25.714286%; }
//     .can[data-position="20"] { background-position: 0 27.142857%; }
//     .can[data-position="21"] { background-position: 0 28.571429%; }
//     .can[data-position="22"] { background-position: 0 30%; }
//     .can[data-position="23"] { background-position: 0 31.428571%; }
//     .can[data-position="24"] { background-position: 0 32.857143%; }
//     .can[data-position="25"] { background-position: 0 34.285714%; }
//     .can[data-position="26"] { background-position: 0 35.714286%; }
//     .can[data-position="27"] { background-position: 0 37.142857%; }
//     .can[data-position="28"] { background-position: 0 38.571429%; }
//     .can[data-position="29"] { background-position: 0 40%; }
//     .can[data-position="30"] { background-position: 0 41.428571%; }
//     .can[data-position="31"] { background-position: 0 42.857143%; }
//     .can[data-position="32"] { background-position: 0 44.285714%; }
//     .can[data-position="33"] { background-position: 0 45.714286%; }
//     .can[data-position="34"] { background-position: 0 47.142857%; }
//     .can[data-position="35"] { background-position: 0 48.571429%; }
//     .can[data-position="36"] { background-position: 0 50%; }
//     .can[data-position="37"] { background-position: 0 51.428571%; }
//     .can[data-position="38"] { background-position: 0 52.857143%; }
//     .can[data-position="39"] { background-position: 0 54.285714%; }
//     .can[data-position="40"] { background-position: 0 55.714286%; }
//     .can[data-position="41"] { background-position: 0 57.142857%; }
//     .can[data-position="42"] { background-position: 0 58.571429%; }
//     .can[data-position="43"] { background-position: 0 60%; }
//     .can[data-position="44"] { background-position: 0 61.428571%; }
//     .can[data-position="45"] { background-position: 0 62.857143%; }
//     .can[data-position="46"] { background-position: 0 64.285714%; }
//     .can[data-position="47"] { background-position: 0 65.714286%; }
//     .can[data-position="48"] { background-position: 0 67.142857%; }
//     .can[data-position="49"] { background-position: 0 68.571429%; }
//     .can[data-position="50"] { background-position: 0 70%; }
//     .can[data-position="51"] { background-position: 0 71.428571%; }
//     .can[data-position="52"] { background-position: 0 72.857143%; }
//     .can[data-position="53"] { background-position: 0 74.285714%; }
//     .can[data-position="54"] { background-position: 0 75.714286%; }
//     .can[data-position="55"] { background-position: 0 77.142857%; }
//     .can[data-position="56"] { background-position: 0 78.571429%; }
//     .can[data-position="57"] { background-position: 0 80%; }
//     .can[data-position="58"] { background-position: 0 81.428571%; }
//     .can[data-position="59"] { background-position: 0 82.857143%; }
//     .can[data-position="60"] { background-position: 0 84.285714%; }
//     .can[data-position="61"] { background-position: 0 85.714286%; }
//     .can[data-position="62"] { background-position: 0 87.142857%; }
//     .can[data-position="63"] { background-position: 0 88.571429%; }
//     .can[data-position="64"] { background-position: 0 90%; }
//     .can[data-position="65"] { background-position: 0 91.428571%; }
//     .can[data-position="66"] { background-position: 0 92.857143%; }
//     .can[data-position="67"] { background-position: 0 94.285714%; }
//     .can[data-position="68"] { background-position: 0 95.714286%; }
//     .can[data-position="69"] { background-position: 0 97.142857%; }
//     .can[data-position="70"] { background-position: 0 98.571429%; }
//     .can[data-position="71"] { background-position: 0 100%; }
// }
