.loader {
    position: absolute;
    top: 27%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-150px);
    z-index: 10;
    transition: opacity $loader-fadein-time $loader-easing;

    .is-loaded & {
        opacity: 0;
    }

    svg {
        display: block;
        position: absolute;
        bottom: 0;
    }

    &__top {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
    }

    @media #{$rwd-xs-down} {
        width: 200px;
        height: 200px;
        transform: translate(-100px);
    }
}
