.scroll-btn {
    padding: 0.6em 1.7em;
    border: 1px solid $pink-color;
    border-radius: 2.5em;
    color: $pink-color;
    font-size: 10px;
    transition: background 0.2s ease-out, color 0.2s ease-out;
    user-select: none;

    @media #{$rwd-big-phone-up} {
        font-size: 12px;
    }

    @media #{$rwd-min-desktop} {
        &:hover {
            background: $pink-color;
            color: $white-color;
        }
    }
}
