.switcher {
    position: relative;
    height: 2.1em;
    font-size: 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity $loader-fadein-time $loader-easing 1.5s;

    .is-loaded & {
        opacity: 1;
    }

    &__toggle {
        position: relative;
        width: 3.8em;
        height: 100%;
        float: right;
        transition: all 0.33s;
        border-radius: 1.1em;
        background-color: $pink-color;
        cursor: pointer;
    }

    &__dot {
        position: absolute;
        top: 0.3em;
        left: 0.4em;
        width: 1.5em;
        height: 1.5em;
        transition: transform 0.33s;
        border-radius: 50%;
        background: $white-color;
        z-index: 1;
    }

    &__text {
        position: relative;
        width: 8em;
        height: 100%;
        float: left;

        img {
            position: absolute;
            top: 14%;
            right: 0.5em;
            width: auto;
            height: 72%;
        }

        &--night {
            opacity: 0;
        }
    }

    &--night {
        .switcher {
            &__toggle {
                background-color: $blue-color;
            }

            &__dot {
                transform: translateX(1.5em);
            }

            &__text {
                &--day {
                    opacity: 0;
                }

                &--night {
                    opacity: 1;
                }
            }
        }
    }

    @media #{$rwd-big-phone-up} {
        font-size: 13px;
    }
}
