.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 15px 14px;
    z-index: 2;

    &__hashtag {
        float: left;
        color: $white-color;
        font-size: 13px;

        span {
            span {
                color: $pink-color;
            }
        }
    }

    &__contact,
    &__social {
        position: absolute;

        a {
            display: inline-block;
            text-align: center;
            vertical-align: top;

            svg {
                max-width: 100%;
                vertical-align: middle;

                path {
                    fill: $white-color;
                }
            }

            &.icon-instagram {
                svg {
                    width: 2em;
                }
            }

            &.icon-mail {
                svg {
                    width: 2.3em;
                }
            }

            &.icon-fb {
                svg {
                    width: 1.9em;
                }
            }
        }

        &--desktop {
            display: none;
        }
    }

    &__contact {
        right: 10px;
        bottom: 6px;
        float: right;
        font-size: 10px;

        a {
            width: 3em;
            height: 3em;
            line-height: 3em;
        }
    }

    &__social,
    &__note {
        display: none;
    }

    @media #{$rwd-big-phone-up} {
        &__hashtag {
            font-size: 15px;
        }

        &__contact {
            font-size: 11px;
        }
    }

    @media #{$rwd-sm-down} {
        transition: all 0.3s;

        &.hide-on-splash-mobile {
            transform: translateY(100%);
            opacity: 0;
        }
    }

    @media #{$rwd-md-up} {

        &__social,
        &__hashtag {
            left: 50%;
            width: 15vw;
            margin-left: -7.5vw;
        }

        &__social {
            bottom: 25vh;
            text-align: center;

            svg {
                path {
                    fill: $white-color;
                }
            }

            a {
                margin: 0 0.25vw;
                transform-origin: center;
                transition: transform 0.25s;

                &:hover {
                    transform: scale(1.1);
                }

                &.icon-instagram {
                    svg {
                        width: 4vw;
                    }
                }

                &.icon-fb {
                    svg {
                        width: 3.8vw;
                    }
                }
            }
        }

        &__hashtag {
            display: none;
            position: absolute;
            bottom: calc(25vh - 1.6em);
            float: none;
            font-size: 1.36vw;
            text-align: center;
        }

        &__contact {
            font-size: 10px;

            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
                right: 26px;
                bottom: 34px;
                text-align: center;
                opacity: 0;

                a {
                    position: relative;
                    top: 1.5vw;
                    color: $black-color;
                    width: 8vw;
                    height: 8vw;
                    line-height: 8vw;
                    text-align: center;

                    &.icon-mail {
                        svg {
                            width: 4.2vw;

                            path {
                                fill: $black-color;
                            }
                        }
                    }
                }

                .is-night & {
                    color: $white-color;

                    a {
                        &.icon-mail {
                            svg {
                                width: 4.2vw;

                                path {
                                    fill: $white-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__note {
            position: absolute;
            bottom: 34px;
            left: 26px;
            opacity: 0;

            .is-night & {
                color: $white-color;
            }
        }
    }
}
