.header {
    position: fixed;
    width: 100%;
    padding: 14px 15px 0;
    z-index: 2;

    &__logo {
        display: block;
        width: 55px;
        float: left;
        transition: opacity $loader-fadein-time $loader-easing 1.5s;
        opacity: 0;

        .is-loaded & {
            opacity: 1;
        }

        img {
            display: inline-block;
        }
    }

    &__switcher {
        float: right;
    }

    @media #{$rwd-big-phone-up} {
        &__logo {
            width: 70px;
        }
    }

    @media #{$rwd-md-up} {
        padding: 25px 34px 0;

        &__logo {
            width: 88px;
            width: 6.111111111vw;
        }
    }
}
