.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transition: opacity 0.25s ease-out;

    &.night {
        opacity: 0;

        .is-night & {
            z-index: 1;
            opacity: 1;
        }

        .is-day & {
            z-index: 0;
            pointer-events: none;
        }
    }

    &.day {
        .is-night & {
            opacity: 0;
            z-index: 0;
            pointer-events: none;
        }

        .is-day & {
            z-index: 1;
        }
    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }

    .swiper-pagination {
        position: fixed;
        transform: translate3d(0, -50%, 0);
        transition: all 0.3s;
        font-size: 10px;

        &.hide-on-splash-mobile {
            transform: translate3d(20px, -50%, 0);
            opacity: 0;
        }

        &-bullet {
            position: relative;
            width: 0.6em;
            height: 0.6em;
            margin: 0.8em 0 !important;
            background-color: $white-color;
            opacity: 1;

            &:first-of-type {
                display: none;
            }

            &-active {
                &:before {
                    display: block;
                    position: absolute;
                    top: -0.3em;
                    left: -0.3em;
                    width: 1.2em;
                    height: 1.2em;
                    background-image: url('../images/04_SLIDE-ACTIVE.svg');
                    content: '';
                }
            }
        }
    }

    &__slide {
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-size: cover;

        &__contents {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 15px 70px 30px;
            color: $white-color;

            .h1 {
                margin-bottom: 0.2em;
            }

            .p {
                max-width: 22em;
            }
        }
    }

    &__arrow {
        display: none;
    }

    @media #{$rwd-big-phone-up} {
        .swiper-pagination {
            font-size: 13px;
        }
    }

    @media #{$rwd-md-up} {
        &__slide {
            position: absolute;
            top: 0;
            left: 0;

            &__contents {
                top: 18vh;
                left: calc(6.7vw + 34px);
                width: auto;
                padding: 0;

                .h1,
                .p {
                    opacity: 0;
                    transform: translateX(-10px);
                    transition: all 0.5s;
                }

                .p {
                    max-width: 32em;
                    transition-delay: 0.25s;
                }

                &.is-active {
                    .h1,
                    .p {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                &:not(.is-active) {
                    .p {
                        transition-delay: 0s;
                    }

                    .h1 {
                        transition-delay: 0.25s;
                    }
                }
            }

            &.splash {
                z-index: 11;
            }

            &--wipe {
                visibility: hidden;

                .is-scrollable & {
                    visibility: visible;
                }

                &:not(.is-active) {
                    clip-path: polygon(100% 100%, 100% 0, 100% 100%, 100% 100%);
                }

                &.is-wiped:not(.is-active) {
                    animation: wipeLeft linear 2s forwards;
                }

                &.is-wiped-reverse:not(.is-wiped) {
                    animation: wipeRight linear 2s forwards;
                }

                @for $i from 2 through 9 {
                    &:nth-of-type(#{$i}) {
                        z-index: $i - 1;
                    }
                }
            }
        }

        &__arrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            z-index: 4;
            opacity: 0;
            pointer-events: none;

            .is-active & {
                pointer-events: auto !important;
            }

            &--day {
                .is-night & {
                    pointer-events: none !important;
                }
            }

            &--night {
                .is-day & {
                    pointer-events: none !important;
                }
            }

            &--prev {
                left: 34px;
                transform: scaleX(-1) rotate(7deg);

                svg {
                    transform: translate3d(0, 0, 0);
                    will-change: transform;

                    .is-revealed & {
                        animation: shakePrev 0.65s ease-in-out infinite;
                    }
                }

            }

            &--next {
                right: 34px;
                transform: rotate(7deg);

                svg {
                    transform: translate3d(0, 0, 0);
                    will-change: transform;

                    .is-revealed & {
                        animation: shakeNext 0.65s ease-in-out infinite;
                    }
                }
            }

            svg {
                display: block;
                width: 8.5vw;
                transform-origin: bottom;

                path {
                    fill: $pink-color;
                }
            }
        }

        &__pagination {
            position: fixed;
            top: 36px;
            z-index: 11;
            width: 50%;
            left: 25%;
            text-align: center;
            font-size: 10px;
            user-select: none;
            opacity: 0;
            pointer-events: none;

            .is-active & {
                pointer-events: auto !important;
            }

            &__bullet {
                display: inline-block;
                position: relative;
                width: 0.8em;
                height: 0.8em;
                margin: 0 0.4em;
                border-radius: 100%;
                background-color: $white-color;
                opacity: 1;

                &.is-active {
                    &:before {
                        display: block;
                        position: absolute;
                        top: -0.47em;
                        left: -0.455em;
                        width: 1.8em;
                        height: 1.8em;
                        background-image: url('../images/04_SLIDE-ACTIVE.svg');
                        content: '';
                    }
                }
            }
        }
    }
}
