.splash {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 0;
    transition: opacity $loader-fadein-time $loader-easing 0.7s;
    z-index: 2;

    .is-loaded & {
        opacity: 1;
    }

    .day & {
        background-color: $yellow-color;

        &:before,
        &:after {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
        }

        &:before {
            top: 0;
            background: linear-gradient(to right, rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.13) 6%, rgba(0,0,0,0) 100%);
        }

        &:after {
            bottom: 0;
            height: 30%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 100%);
        }
    }

    .night & {
        background-image: url('../images/MOBILE-BG-NIGHT.png');
    }

    &__container {
        height: 100%;
        transform: translate3d(0, 0, 0);
    }

    &__bg {
        display: none;
    }

    &__line {
        display: none;
        // display: block;
        position: absolute;
        top: -5%;
        left: 7%;
        width: 86%;
        height: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        will-change: transform;
    }

    &__can {
        // transition-delay: 2.5s;
    }

    &__scroll-btn {
        position: absolute;
        bottom: 15px;
        left: 50%;
        width: 180px;
        margin-left: -90px;
        z-index: 1;

        @media all and (max-height: 399px) {
            display: none;
        }
    }

    &__text {
        display: none;
        position: absolute;
        opacity: 0;
        transition: opacity $loader-fadein-time $loader-easing 1.5s;

        .is-loaded & {
            opacity: 1;
        }

        .h2 {
            margin-bottom: 0.4em;
            color: $pink-color;
        }

        .p {
            color: $black-color;

            .night & {
                color: $white-color;
            }
        }

        &--mobile {
            display: block;
            bottom: 15px;
            width: 100%;
            padding: 0 10%;

            .h2,
            p {
                max-width: 280px;
                margin-left: auto;
                margin-right: auto;
            }


            @media all and (min-height: 400px) {
                bottom: 60px;
            }
        }
    }

    @media #{$rwd-sm-up} {
        background-image: none;

        .day & {
            background-image: url('../images/BG.png');

            &:before,
            &:after {
                display: none;
            }
        }

        .night & {
            background-image: url('../images/BG-NIGHT.png');
        }

        &__line {
            display: block;
            position: absolute;
            top: -5%;
            left: 7%;
            width: 86%;
            height: 80%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            will-change: transform;
        }

        &__scroll-btn {
            bottom: 20px;
        }

        &__text {
            display: block;
            bottom: 75px;
            max-width: 360px;
            width: 30vw;

            &--left {
                left: 30px;
                text-align: right;
            }

            &--right {
                right: 30px;
                text-align: left;
            }

            &--mobile {
                display: none;
            }
        }

        &__container {
            position: absolute;
            width: 100%;

            &--can {
                z-index: 3;
            }

            &--fade {
                z-index: 2;
            }
        }
    }

    @media #{$rwd-md-up} {

        .day &,
        .night & {
            background: none;
        }

        &__line {
            top: 10px;
        }

        &__can {
            // z-index: 3;
        }

        // &__container {
        //     position: absolute;
        //     width: 100%;
        //
        //     &--can {
        //         z-index: 3;
        //     }
        //
        //     &--fade {
        //         z-index: 2;
        //     }
        // }

        &__bg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1;

            > div {
                position: absolute;
            }

            &__left,
            &__right {
                position: relative;
                top: -100%;
                width: calc(60% - 15px);
                height: 250%;

                svg {
                    position: absolute;
                    z-index: 100;
                    top: 25%;
                    //
                    // path {
                    //     fill: $yellow-color;
                    // }
                }
            }

            &__center {
                top: 0;
                left: calc(50% - 30px);
                width: 60px;
                height: 100%;
                transform: skewY(7deg) scaleY(1.1);
            }

            &__left {
                left: calc(-10% - 15px);
                transform-origin: 100% 76%;

                svg {
                    transform: rotate(90deg);
                    left: -4.5%;

                    top: 76%;
                    transform-origin: right bottom;
                    width: 150%;
                    left: -61.5%;
                }
            }

            &__right {
                right: calc(-10% - 15px);
                transform-origin: 0% 76%;

                svg {
                    transform: rotate(-90deg);
                    left: -95.5%;

                    top: 76%;
                    transform-origin: left bottom;
                    width: 150%;
                    left: 11.5%;
                }
            }

            &--day {
                > div {
                    background: $yellow-color;

                    svg {
                        path {
                            fill: $yellow-color;
                        }
                    }
                }
            }

            &--night {
                > div {
                    background: $night-color;

                    svg {
                        path {
                            fill: $night-color;
                        }
                    }
                }
            }
        }

        &__text {
            &--left {
                left: 7vw;
            }

            &--right {
                right: 7vw;
            }
        }
    }

    @media #{$rwd-lg-up} {
        &__text {
            bottom: 9vh;

            &--left {
                left: 10vw;
            }

            &--right {
                right: 10vw;
            }
        }

        &__scroll-btn {
            bottom: 5vh;
        }
    }

    @media #{$rwd-xxlg-up} {
        &__text {
            max-width: 36em;
            font-size: 0.7vw;
        }
    }
}
