@@include('partials/header.html')
@@include('partials/loader.html')
<!-- MAIN -->
<main class="day slider swiper-container js-slider js-slider-day">
    <div class="slider__pagination js-slider-pagination">
        <span class="slider__pagination__bullet js-pagination-bullet is-active"></span>
        <span class="slider__pagination__bullet js-pagination-bullet"></span>
        <span class="slider__pagination__bullet js-pagination-bullet"></span>
        <span class="slider__pagination__bullet js-pagination-bullet"></span>
    </div>
    <a href="#" class="slider__arrow slider__arrow--day slider__arrow--prev js-arrow js-arrow-prev">
        @@include('partials/icons/arrow.html')
    </a>
    <a href="#" class="slider__arrow slider__arrow--day slider__arrow--next js-arrow js-arrow-next">
        @@include('partials/icons/arrow.html')
    </a>
    <div class="swiper-wrapper js-swiper-desktop">
        <div class="splash slider__slide swiper-slide js-slider-slide js-splash">
            <div class="splash__container splash__container--can js-move-down">
                <div class="splash__can can can--day js-can js-scroll-btn" data-position="36"></div>
                <a class="splash__scroll-btn scroll-btn js-scroll-btn" href="#">DÉCOUVREZ LA BOISSON</a>
            </div>
            <div class="splash__bg splash__bg--day">
                <div class="splash__bg__left js-rotate-left">
                    @@include('partials/day-wave-left.html')
                </div>
                <div class="splash__bg__center js-move-up"></div>
                <div class="splash__bg__right js-rotate-right">
                    @@include('partials/day-wave-right.html')
                </div>
            </div>
            <div class="splash__container splash__container--fade js-fade-away">
                <div class="splash__line js-splash-line" style="background-image: url('./images/CATCHLINE_DAY.png')"></div>
                <div class="splash__text splash__text--left">
                    <h2 class="h2">Vos neurones disent<br>"OUI" à cette cannette</h2>
                    <p class="p"><strong>Vous ne trouverez ni caféine, ni taurine, ni conservateur, ni édulcorant ou colorant artificiel dans cette boisson.</strong><br>100% validé par votre matière grise!</p>
                </div>
                <div class="splash__text splash__text--right">
                    <h2 class="h2">Boisson brillante<br>cherche buveur éclairé</h2>
                    <p class="p">Pas besoin d’être un génie pour savoir qu’on a mis que de bonnes choses dans cette boisson. <strong>Peut causer illuminations et autres idées de génie. </strong></p>
                </div>
            </div>
            <div class="splash__text splash__text--mobile">
                <h2 class="h2">Vos neurones disent<br>"OUI" à cette cannette</h2>
                <p class="p"><strong>Vous ne trouverez ni caféine, ni taurine, ni conservateur, ni édulcorant ou colorant artificiel dans cette boisson.</strong><br>100% validé par votre matière grise!</p>
            </div>
        </div>
        <div class="slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe is-active" data-slide-index="0" style="background-image: url('./images/01_DAY/01.jpg')">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">1.</span>
                    Enfin une boisson à la hauteur<br> de vos lumières.
                </h1>
                <p class="p">
                    Pour faire face aux défis qui remplissent votre vie, vous devez compter sur vos meilleurs atouts : votre corps et votre esprit. Voici idrinQ, une boisson concentrée en antioxydants, ce qui limite le vieillissement des cellules.
                </p>
            </div>
        </div>
        <div class="slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe" data-slide-index="1" style="background-image: url('./images/01_DAY/02.jpg')">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">2.</span>
                    100% validée par votre<br> matière grise.
                </h1>
                <p class="p">
                    L’acide R+ alpha-lipoïque présent dans chaque cannette transforme le sucre en énergie. Vous êtes toujours au top pour tout, partout et tout le temps. idrinQ contient aussi de la L-arginine, ce qui permet une amélioration de l'apport en nutriments des cellules musculaires et donc des performances tout en renforçant le système immunitaire.
                </p>
            </div>
        </div>
        <div class="slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe" data-slide-index="2" style="background-image: url('./images/01_DAY/03.jpg'); background-position: 67%;">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">3.</span>
                    On a mis que des bonnes<br> choses dans cette boisson.
                </h1>
                <p class="p">
                    Préservation de la peau, protection du système immunitaire et renouvellement cellulaire... Les vitamines B sont vos meilleures alliées et ce serait dommage de s'en passer. Ça tombe bien, idrinQ en contient plein. :)
                </p>
            </div>
        </div>
        <div class="slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe" data-slide-index="3" style="background-image: url('./images/01_DAY/04.jpg'); background-position: 67%;">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">4.</span>
                    Découvrez tout ce que idrinQ<br> peut faire pour vous :
                </h1>
                <p class="p">
                    10 ans… C’est long mais c'est le temps nécessaire au développement de notre super formule qui améliore votre concentration, ne trouble pas votre sommeil, aide au bon fonctionnement du système immunitaire.
                </p>
            </div>
        </div>
    </div>
    <div class="swiper-pagination hide-on-splash-mobile js-hide-on-splash-mobile"></div>
</main>

<main class="night slider swiper-container js-slider js-slider-night">
    <div class="slider__pagination js-slider-pagination">
        <span class="slider__pagination__bullet js-pagination-bullet is-active"></span>
        <span class="slider__pagination__bullet js-pagination-bullet"></span>
        <span class="slider__pagination__bullet js-pagination-bullet"></span>
        <span class="slider__pagination__bullet js-pagination-bullet"></span>
    </div>
    <a href="#" class="slider__arrow slider__arrow--night slider__arrow--prev js-arrow js-arrow-prev">
        @@include('partials/icons/arrow.html')
    </a>
    <a href="#" class="slider__arrow slider__arrow--night slider__arrow--next js-arrow js-arrow-next">
        @@include('partials/icons/arrow.html')
    </a>
    <div class="swiper-wrapper js-swiper-desktop">
        <div class="splash slider__slide swiper-slide js-slider-slide js-splash">
            <div class="splash__container splash__container--can js-move-down">
                <div class="splash__can can can--night js-can js-scroll-btn" data-position="36"></div>
                <a class="splash__scroll-btn scroll-btn js-scroll-btn" href="#">DÉCOUVREZ LA BOISSON</a>
            </div>
            <div class="splash__bg splash__bg--night">
                <div class="splash__bg__left js-rotate-left">
                    @@include('partials/night-wave-left.html')
                </div>
                <div class="splash__bg__center js-move-up"></div>
                <div class="splash__bg__right js-rotate-right">
                    @@include('partials/night-wave-right.html')
                </div>
            </div>
            <div class="splash__container splash__container--fade js-fade-away">
                <div class="splash__line js-splash-line" style="background-image: url('./images/CATCHLINE_NIGHT.png')"></div>
                <div class="splash__text splash__text--left">
                    <h2 class="h2">Vos neurones disent<br>"OUI" à cette cannette</h2>
                    <p class="p"><strong>Vous ne trouverez ni caféine, ni taurine, ni conservateur, ni édulcorant ou colorant artificiel dans cette boisson.</strong><br>100% validé par votre matière grise!</p>
                </div>
                <div class="splash__text splash__text--right">
                    <h2 class="h2">Boisson brillante<br>cherche buveur éclairé</h2>
                    <p class="p">Pas besoin d’être un génie pour savoir qu’on a mis que de bonnes choses dans cette boisson. <strong>Peut causer illuminations et autres idées de génie. </strong></p>
                </div>
            </div>
            <div class="splash__text splash__text--mobile">
                <h2 class="h2">Vos neurones disent<br>"OUI" à cette cannette</h2>
                <p class="p"><strong>Vous ne trouverez ni caféine, ni taurine, ni conservateur, ni édulcorant ou colorant artificiel dans cette boisson.</strong><br>100% validé par votre matière grise!</p>
            </div>
        </div>
        <div class="1 slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe is-active" data-slide-index="0" style="background-image: url('./images/02_NIGHT/01.jpg')">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">1.</span>
                    Enfin une boisson à la hauteur<br> de vos lumières.
                </h1>
                <p class="p">
                    Pour faire face aux défis qui remplissent votre vie, vous devez compter sur vos meilleurs atouts : votre corps et votre esprit. Voici idrinQ, une boisson concentrée en antioxydants, ce qui limite le vieillissement des cellules.
                </p>
            </div>
        </div>
        <div class="2 slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe" data-slide-index="1" style="background-image: url('./images/02_NIGHT/02.jpg')">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">2.</span>
                    100% validée par votre<br> matière grise.
                </h1>
                <p class="p">
                    L’acide R+ alpha-lipoïque présent dans chaque cannette transforme le sucre en énergie. Vous êtes toujours au top pour tout, partout et tout le temps. idrinQ contient aussi de la L-arginine, ce qui permet une amélioration de l'apport en nutriments des cellules musculaires et donc des performances tout en renforçant le système immunitaire.
                </p>
            </div>
        </div>
        <div class="3 slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe" data-slide-index="2" style="background-image: url('./images/02_NIGHT/03.jpg'); background-position: 67%;">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">3.</span>
                    On a mis que des bonnes<br> choses dans cette boisson.
                </h1>
                <p class="p">
                    Préservation de la peau, protection du système immunitaire et renouvellement cellulaire... Les vitamines B sont vos meilleures alliées et ce serait dommage de s'en passer. Ça tombe bien, idrinQ en contient plein. :)
                </p>
            </div>
        </div>
        <div class="4 slider__slide slider__slide--wipe swiper-slide js-slider-slide js-slide-wipe" data-slide-index="3" style="background-image: url('./images/02_NIGHT/04.jpg'); background-position: 67%;">
            <div class="slider__slide__contents js-slide-contents">
                <h1 class="h1">
                    <span class="h1__no">4.</span>
                    Découvrez tout ce que idrinQ<br> peut faire pour vous :
                </h1>
                <p class="p">
                    10 ans… C’est long mais c'est le temps nécessaire au développement de notre super formule qui améliore votre concentration, ne trouble pas votre sommeil, aide au bon fonctionnement du système immunitaire.
                </p>
            </div>
        </div>
    </div>
    <div class="swiper-pagination hide-on-splash-mobile js-hide-on-splash-mobile"></div>
</main>

@@include('partials/footer.html')
